// fontsize

$fontsize: 10px;
$fontsize1: 11px;
$fontsize2: 12px;
$fontsize3: 13px;
$fontsize4: 14px;
$fontsize5: 15px;
$fontsize6: 16px;
$fontsize7: 17px;
$fontsize8: 18px;
$fontsize9: 19px;
$fontsize10: 20px;
$fontsize15: 25px;

// fontweight

$fontweight: 400;
$fontweight1: 500;
$fontweight2: 600;
$fontweight3: 700;
$fontweight4: 800;
$fontweight5: 900;