@use '../abstracts/colors.scss';
@use '../abstracts/pad_and_margin.scss' as a;
@use '../abstracts/fonts.scss' as font;

.stor_main{
    font-family: sans-serif;
    .stor{
        display: flex;
        gap: 25px;
        padding: a.$padding3X;
        .filter{
            min-height: 80vh;
            overflow-y: auto;
            padding: a.$padding3X a.$padding6X;
            width: 25%;
            box-shadow: 0px 0px 20px colors.$gray-500;
            .filter_head{
                padding: a.$padding2X 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .title{
                    font-size: font.$fontsize10;
                }
                img{
                    width: 30px;
                }
            }
            .fitler_cost{
                padding: a.$padding2X 0;
                .cost_title{
                    font-size: font.$fontsize8;
                }
                .cost_select{
                    padding: a.$padding1X 0;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    div{
                        font-size: font.$fontsize4;
                    }
                }
                .colors{
                    padding: a.$padding1X 0;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    gap: 15px;
                    .red{
                        background-color: colors.$red;
                        width: 20px;
                        height: 20px;
                    }
                    .yellow{
                        background-color: colors.$yellow;
                        width: 20px;
                        height: 20px;
                    }
                    .blue{
                        background-color: colors.$blue;
                        width: 20px;
                        height: 20px;
                    }
                    .green{
                        background-color: colors.$green;
                        width: 20px;
                        height: 20px;
                    }
                }
            }
            .apply_btn{
                display: flex;
                justify-content: center;
                padding-top: a.$padding3X;
                button{
                    background-color: colors.$black;
                    color: colors.$white;
                    padding: a.$padding1X;
                    border-radius: 5px;
                    cursor: pointer;
                    border: 1px solid colors.$black;
                }
            }
            .mobile_Cart{
                display: none;
            }
        }
        .product{
            min-height: 80vh;
            overflow-y: auto;
            padding: a.$padding3X a.$padding6X;
            box-shadow: 0px 0px 20px colors.$gray-500;
            width: 50%;
            .product_main{
                padding: a.$padding2X 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .title{
                    font-size: font.$fontsize10;
                }
                .search input{
                    outline: none;
                    padding: a.$padding1X;
                    font-size: font.$fontsize5;
                }
                .search_img{
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    .sort{
                        button{
                            border: 1px solid colors.$black;
                            outline: none;
                            padding: a.$padding1X a.$padding2X;
                            border-radius: 3px;
                            cursor: pointer;
                            background-color: colors.$white;
                            &:hover{
                                border-color: colors.$gray-600;
                            }
                        }
                    }
                    img{
                        width: 30px;
                        cursor: pointer;
                    }
                    .mobile_res{
                        display: none;
                    }
                }
            }
            .card_main{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                gap: 20px;
                .card{
                    width: 150px;
                    .product_img img{
                        width: 150px;
                        height: 160px;
                    }
                    .product_name{
                        font-size: font.$fontsize8;
                    }
                    .product_cost{
                        font-size: font.$fontsize3;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    .star img{
                        width: 15px;
                    }
                }
            }
        }
        .cart{
            min-height: 80vh;
            overflow-y: auto;
            padding: a.$padding3X a.$padding6X;
            box-shadow: 0px 0px 20px colors.$gray-500;
            width: 25%;
            .filter_head{
                padding: a.$padding2X 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .title{
                    font-size: font.$fontsize10;
                }
                img{
                    width: 30px;
                }
            }
            .cart_space{
                font-size: font.$fontsize3;
                height: 55vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .local{
                color: colors.$gray-900;
                display: flex;
                gap: 20px;
                font-size: font.$fontsize3;
                .local_flex{
                    display: flex;
                    cursor: pointer;
                }
                img{
                    width: 15px;
                }
            }
            .order_btn{
                display: flex;
                justify-content: center;
                padding-top: a.$padding3X;
                button{
                    background-color: colors.$gray-700;
                    color: colors.$white;
                    padding: a.$padding1X;
                    border-radius: 5px;
                    cursor: pointer;
                    border: 1px solid colors.$gray-700;
                }
            }
            .mobile_Cart{
                display: none;
            }
        }
        .web{
            display: block;
        }
        $breakpoint-tablet: 968px;
        @media (max-width: $breakpoint-tablet) {
            .web{
                display: none;
            }
            .card_img img{
                width: 200px;
            }
            .filter{
                width: fit-content;
                padding: 0;
                min-height: 0 !important;
                background: none;
                box-shadow: none;
                .desktop{
                    width: 100%;
                    display: none;
                }
                .mobile_Cart{
                    display: block;
                }
                .open{
                    background-color: rgba(0, 0, 0, 0.5);
                    position: fixed;
                    z-index: 900;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    .mobile{
                        display: block !important;
                        display: block !important;
                        position: fixed;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        background-color: white;
                        width: 60%;
                        padding: a.$padding5X;
                        .cart_space{
                            height: 78vh;
                        }
                    }
                }
            }
            .cart{
                width: fit-content;
                padding: 0;
                min-height: 0 !important;
                background: none;
                box-shadow: none;
                .desktop{
                    width: 100%;
                    display: none;
                }
                .mobile_Cart{
                    display: block;
                }
                .open{
                    background-color: rgba(0, 0, 0, 0.5);
                    position: fixed;
                    z-index: 900;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    animation: myfirst 5s 2;
                    animation-direction: normal;
                    right: 0;
                    .mobile{
                        display: block !important;
                        display: block !important;
                        position: fixed;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        background-color: white;
                        width: 60%;
                        z-index: 1000000000;
                        padding: a.$padding5X;
                        .cart_space{
                            height: 78vh;
                        }
                    }
                }
            }
            .product{
                width: 100%;
                .product_main{
                    .search_img{
                        .mobile_res{
                            display: block;
                            .mobile{
                                .filter_head{
                                    .cart-div{
                                        display: flex;
                                        align-items: center;
                                    }
                                }
                            }
                        }
                        .search_icon{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.product_details{
    font-family: sans-serif;
    display: flex;
    gap: 25px;
    padding: a.$padding3X;
    .product{
        width: 75%;
        min-height: 80vh;
        overflow-y: auto;
        padding: a.$padding3X a.$padding6X;
        box-shadow: 0px 0px 20px colors.$gray-500;
        .title_main{
            padding: a.$padding2X 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            div{
                display: flex;
                gap: 20px;
                img{
                    width: 25px;
                    cursor: pointer;
                }
            }
            .mobile_res{
                display: none;
            }
            .title{
                font-size: font.$fontsize10;
            }
        }
        .product_flex{
            display: flex;
            gap: 20px;
            align-items: flex-start;
            .view{
                width: 50%;
                img{
                    width: 100%;
                    height: 60vh;
                }
            }
            .re_view{
                display: flex;
                flex-direction: column;
                gap: 20px;
                img{
                    width: 120px;
                    cursor: pointer;
                }
            }
            .details{
                display: flex;
                .star {
                    padding: a.$padding2X 0;
                    font-size: font.$fontsize2;
                    img{
                        width: 15px;
                    }
                }
                .sub_tect{
                    font-size: font.$fontsize4;
                }
                .product_name{
                    font-size: font.$fontsize15;
                }
                .product_cost{
                    font-size: font.$fontsize6;
                }
                .off{
                    font-size: font.$fontsize3;
                }
                .select{
                    padding: a.$padding3X 0;
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    .name{
                        font-size: font.$fontsize4;
                        width: 50px;
                    }
                    .color_select{
                        display: flex;
                        gap: 20px;
                        img{
                            width: 25px;
                            cursor: pointer;
                        }
                        .blue{
                            background-color: colors.$teal;
                            width: 25px;
                            height: 25px;
                            cursor: pointer;
                        }
                        .black{
                            background-color: colors.$black;
                            width: 25px;
                            height: 25px;
                            cursor: pointer;
                        }
                        .white{
                            background-color: colors.$white;
                            border: 1px solid colors.$black;
                            width: 25px;
                            height: 25px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .reView{
            display: flex;
            gap: 10px;
            align-items: center;
            .text{
                font-size: font.$fontsize4;
            }
            .star {
                img{
                    width: 15px;
                }
            }
        }
        .btn_group{
            display: flex;
            justify-content: center;
            padding-top: a.$padding3X;
            gap: 20px;
            .add{
                background-color: colors.$black;
                color: colors.$white;
                padding: a.$padding1X;
                border-radius: 5px;
                cursor: pointer;
                border: 1px solid colors.$black;
            }
            .share{
                background-color: colors.$white;
                color: colors.$black;
                padding: a.$padding1X;
                border-radius: 5px;
                cursor: pointer;
                border: 1px solid colors.$black;
            }
        }
    }
    .cart{
        min-height: 80vh;
        overflow-y: auto;
        padding: a.$padding3X a.$padding6X;
        box-shadow: 0px 0px 20px colors.$gray-500;
        width: 25%;
        .mobile{
            display: none;
        }
        .filter_head{
            padding: a.$padding2X 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            div{
                display: flex;
                align-items: center;
            }
            .title{
                font-size: font.$fontsize10;
            }
            img{
                width: 30px;
            }
        }
        .cart_space{
            font-size: font.$fontsize3;
            height: 55vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .local{
            color: colors.$gray-900;
            display: flex;
            gap: 20px;
            font-size: font.$fontsize3;
            .local_flex{
                display: flex;
                cursor: pointer;
            }
            img{
                width: 15px;
            }
        }
        .order_btn{
            display: flex;
            justify-content: center;
            padding-top: a.$padding3X;
            button{
                background-color: colors.$gray-700;
                color: colors.$white;
                padding: a.$padding1X;
                border-radius: 5px;
                cursor: pointer;
                border: 1px solid colors.$gray-700;
            }
        }
        .mobile_Cart{
            display: none;
        }
    }
    $breakpoint-tablet: 968px;
    @media (max-width: $breakpoint-tablet) {
        // flex-wrap: wrap;
        .card_img img{
            width: 200px;
        }
        .product_flex{
            flex-wrap: wrap;
        }
        .cart{
            width: fit-content;
            padding: 0;
            min-height: 0 !important;
            background: none;
            box-shadow: none;
            display: none;
            .desktop{
                width: 100%;
                display: none;
            }
        }
        .product{
            width: 100%;
            .title_main{
                .mobile_res{
                    display: block;
                    .desktop{
                        display: none;
                    }
                    .open{
                        background-color: rgba(0, 0, 0, 0.5);
                        position: fixed;
                        z-index: 900;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        .mobile{
                            display: block !important;
                            position: fixed;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            background-color: white;
                            width: 60%;
                            z-index: 998;
                            transition: transform 1.3s ease-out;
                            padding: a.$padding5X;
                            .cart_space{
                                height: 78vh;
                            }
                        }
                    }
                    .mobile_Cart{
                        display: block !important;
                    }
                }
            }
            .view{
                width: 100% !important;
                img{
                    height: 40vh !important;
                }
            }
            .details{
                flex-direction: column;
                .re_view{
                    flex-direction: row;
                    img{
                        width: 60px;
                    }
                }
            }
        }
    }
}